#Python game - Hangman

import random

wordbank = ('ABRUPTLY','ABYSS','AXIOM','AWKWARD','BUSINESSMAN','MANKIND','ASKEW','CHRISTMAS', 'BAYOU','BEEKEEPER','COBWEB','BUZZING','EMBEZZLE','FISHHOOK')
words = random.choice(wordbank)
user = None
turn = 12
your_word = '_ ' * len(words)
print("")
your_guess = your_word[0:len(your_word)-1]
list1 = your_guess.split()

print("Welcome to the Hangman game! You have 10 guesses to solve the puzzle. Let's get started. Good luck!\n")

while user == None:
    user = input('Enter your first letter:').upper()
    if len(user) != 1:
        print('Please guess again.')
        user = None
    for i in range(0, len(words)):
        if words[i] == user:
            list1[i] = user
    your_guess = ''.join(list1)
    print('\nYour guess is: {}'.format(your_guess))
    turn -= 1
    print('You have {} chances left to guess'.format(turn))

    if turn == 1:
      print("You have one last guess, choose wisely.")
      
    if your_guess == words:
        if your_guess == words:
            print('You win! Great job!')
        else:
            print('\nBetter luck next time. Game over.')
            print("The solution was: ",words)
        break
    else:
        user = None
